@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    animation: spinner 0.95s ease-in-out infinite;
}

@media screen and (max-width: 500px) {
    .spinner {
        width: 3rem;
    }
}