.SignupComponent-round{
    border-radius: 22.13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 44.43px;
    height: 44.43px;
    margin: 0 auto;
}

.SignupComponent-country-input input{
    padding: 1rem 1rem 1rem 1rem;
}

.SignupComponent-country-input{
    position: relative;
}

.sign-button{
    background: #0064CC;
    margin-bottom: 4rem;
    border-radius: 40px;
    Padding: 18px 0;
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.SignupComponent-icon{
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 1.2rem;
    left: 1rem;
}