.scroll {
  background-color: #0064cc;
  height: 82px !important;
  
  overflow-x: hidden;
}


@keyframes infinitescroll {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.logo-cont img:first-child{
  width: 10rem;
}

.scroll p {
  font-size: 32px;
  font-weight: 700;
  color: #ffff;
  width: 500px !important;
}
.scroll div {
  transform: translateX(100%);
  animation: infinitescroll 40s linear infinite;
}
.navbar-cont {
  z-index: 1000 !important;
}

.side-logo {
  font-size:24px; 
    font-weight:800; 
    color: white; 
    margin-left: 4rem;
}

.navbar {
  height: 102px;
  /* z-index: 60 !important;
  position: relative; */
}

.initials {
  /* width: 27px; */
  height: 27px;
  padding: 4px;
  border-radius: 100%;
  background-color: #0064CC;
  color: #F8F9FA;
  font-size: 12px;
  font-weight: 600;
}

/* .logo-cont {
  height: 80px ;
} */



nav li a {
  font-weight: 600;
  font-size: 16px;
  color: #003770 !important;
}

nav li img {
  cursor: pointer;
}

.navbtn1 {
  border: 2px solid #005bba !important;
  color: #005bba;
  background: transparent;
  font-weight: 600;
  border-radius: 8px !important;
  width: 132px !important;
  height: 44px !important;
}
.navbtn2 {
  background-color: #005bba;
  color: #ffff;
  font-weight: 600;
  border-radius: 8px !important;
  width: 132px !important;
  height: 44px !important;
  margin-left: 1rem;
}

@keyframes scaling {
  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(1);
  }
}
.dropdown {
  width: 255px !important;
  height: 332px !important;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  animation: scaling 0.2s ease-in;
  top: 50px !important;
}

.dropdown-log {
  width: 235px !important;
  height: 232px !important;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  animation: scaling 0.2s ease-in;
  top: 40px !important;
  left: -100px;
}

.dropdown-log p {
  font-weight: 600;
}
.dropdown-log p:first-child {
  color: #33414b !important;
  font-weight: 600;
  cursor: pointer;
}
.dropdown p {
  color: #33414b !important;
  font-weight: 600;
  cursor: pointer;
}

.dropdown div {
  height: 53px !important;
 
}

.dropdown div:hover {
  background-color: ;
}

.navbar li div {
  top: 34px;
}

.dropdown-content .line {
  width: 0;
  height: 4px !important;
  background-color: #003770;
  border-radius: 2px;
  transition: width 0.2s ease;
}

.dropdown-content:hover > .line {
  width: 30px !important;
}

.ham {
  width: 42px !important;
  height: 42px !important;
  object-fit: cover;
  display: none;
}

.sidebar {
  /* width: 375px !important; */
  height: 100vh !important;
  background-color: #0064cc;
  background-image: url("../../assets/mobile-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  /* top: 82px !important; */
  padding: 1rem !important;
  z-index: 100 !important;
}

.sidebar .navbtn2 {
  margin: 0 !important;
  width: 100% !important;
        border: 2px solid #FFFF !important;
}
.sidebar .navbtn1 {
  margin: 0 !important;
  width: 100% !important;
  background: #FFFF;
}

.sidebar li a {
    color: #FFFF !important;
}

@media screen and (max-width: 1030px) {
  .auth-btn .navbtn1 {
    width: 120px !important;
  }
  .auth-btn .navbtn2 {
    width: 100px !important;
    margin-left: 0.5rem !important;
  }
  
  
}

@media screen and (max-width: 1000px) {
  .navbar-cont .nav-body {
    display: none !important;
  }

  .navbar-cont .auth-btn {
    display: none !important;
  }
  .sidebar-cont  {
    display: block !important;
  }
  .ham {
    display: block;
  }
  .logo-cont {
    width: 100% !important;
  }
}

@media screen and (max-width: 995px) {
  .scroll p {
    font-size: 20px;
    width: 300px !important;
  }

  .sidebar {
    width: 375px !important;
  }

  

  

  
  /* .navbar .navbody {
        display: flex !important;
        align-items: start !important;
        flex-direction: column;
        height: 100vh;
        position: absolute;
        padding: 16px;
        top: 100%;
        right: 0;
        width: 375px !important;
        background-color: #0064CC;
        background-image: url("../../assets/mobile-bg.svg");
        background-repeat: no-repeat;
        background-position: bottom right;
        color: #FFFF !important;
    }

    .navbody li a {
        color: #FFFF !important;
    }

    .navbody ul {
        align-items: start !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .auth-btn {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .auth-btn button {
        margin: 0;
        width: 100% !important;
    }

    .auth-btn button:first-child {
        background: #FFFF;
    }

    .auth-btn button:last-child {
        background: transparent;
        border: 2px solid #FFFF !important;
    } */
}

@media screen and (max-width: 370px) {
    .sidebar {
        width: 100% !important;
    }
}
